*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
}

h1{
    color: #e53170;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 38px;
}

.top{
    width: 800px;
}

p{
    text-align: center;
}