*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
}

/* top della pagina  */
h1{
    color: #e53170;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 38px;
}

.top{
    width: 900px;
    margin: 0 auto;
    text-align: center;
}


/* fine top pagina */

.contenitore{
    width: 1000px;
    margin: 0 auto;
    
}

img{
    width: 100px;
    float: left;
}

.box-profilo{
    background-color: #0f0e17;
    color: white;
    max-width: 300px;
    margin: 15px;
    line-height: 2.4;
    width: calc(100% / 3);
    float: left;  
    font-size: 0.875em;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;

}


span{
    display: block;
    

}